:root
{
    --primarycolor:red;
    --secondarycolor:rgb(255, 147, 165);
}
*
{
    margin:0px;
    left: 0px;
    padding: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow-x: hidden;
}
.topbar
{
    background-color: var(--primarycolor);
    display: flex;
    justify-content: center;
    width: 100%;
    height: 45px;
    color: white;
}
.topbar .topbarsectionnav
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100%;
}
.topbarsectionnav .navbox
{
    border-left: 0.8px solid black;
    border-right: 0.8px solid black;
    height: 100%;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbox h3
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.topbarsectionnav .navbox:hover
{
  background-color: white;
  color: grey;
}
.topbar .topbarsectioninfo
{
    display: flex;
    justify-content: center;
    width: 40%;
    height: 100%;
    align-items: center;
}
.topbarsectioninfo h4
{
    font-size:13px;
    text-align: center;
    margin-left: 10px;
}
header nav
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;

}
nav .navsection1
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100%;
    font-size: 11px;
}
nav .navsection2
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 30%;
    height: 100%;
}
.navsection1 h1
{
    margin-left: 70px;
}
.navsection2 input
{
    height: 25px;
    text-indent: 10px;
}
main
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    flex-direction: column;
}
main .background
{
    width: 95%;
    height: auto;
    overflow-y: hidden;
}
.background img
{
    width: 100%;
    height: 100%;
}
.lovecollection
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 95%;
    margin-top: 20px;
}
.collectionlove
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}
.collectionlove img

{
    width: 80%;
    height: 80%;
}
.topbarsectionnav a
{
    text-decoration: none;
    color: white;
}
.topbarsectionnav .navbox:hover
{
    a{
        text-decoration: none;
        color: black;
    }
  
}
.collectionlovesmall
{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.summerfabrics
{
    display: flex;
    justify-content: center;
    align-items:center;
    width: 100%;
    height: 500px;
    margin-top: 40px;
    overflow: hidden;
  
}
.summerfabrics .summersection1
{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.summersection1 img
{
    width:80%;
    height: 80%;
}
.summerfabrics .summersection2
{
    width: 50%;
}
.summersection1 .fabric
{
    width:70%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.summersection1 .fabric:hover
{
   transform:scale(1.2);
   transform-origin: left;
}
.summersection1 .fabric h3{
background-color: black;
width: 80%;
color: white;
text-align: center;
font-weight: 400;
font-size: 14px;
}
.summerfabrics hr
{
    width: 0px;
    height: 80%;
    border: 1px dashed rgb(238, 57, 57);
}


.textsummer h2, h3
{
    width: 60%;
    text-align: right;
    font-weight: 500;
}
.textsummer h2
{
    font-weight: 600;
}
.summerfabrics .summersection2
{
position: relative;
overflow: hidden;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
}
.summerfabrics .summersection2 .textsummer
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
}
.summersection2 .circle
{
    width: 300px;
    height: 300px;
    border-radius: 999px;
    background-color: rgba(0, 0, 0, 0.108);
    position: absolute;
    top: 100px;
    left: 100px;
    z-index: -2;
}
footer
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 70px;
}
footer nav
{
    width: 30%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    color: #186672;
}
nav h3
{
    text-align: left;
}
footer .boxnav
{
    height: 250px;
    width: 25%;
    background-image:  linear-gradient(#186672, #16354C);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
    color: white;
}
.boxnav h3
{
    margin-top: 10px;
    text-align: left;
    margin-left: 20px;
}

hr
{
    width: 100%px;
    height: 0%;
    border: 1px dashed rgb(238, 57, 57);
    margin-top: 30px;
}
.themechange
{
   margin-left: 20px;
   background-color: transparent;
   border: none; 
   outline: none;
   color: white;
   font-weight: 600;
   font-size: 13px;
}
form
{
    width:300px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.mainbody
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    width: 700px;
    height: 500px;
    flex-direction: column;
    margin-top: 20px;
    box-shadow: 0px 10px 10px black;
    
}
.mainbody h1
{
    margin-bottom: 50px;
    margin-top: 50px;
    font-size: 65px;
    color: #186672;
}
.labels
{
  display: flex;
  justify-content:space-between;
  align-items: center;
  width: 85%;  
  margin-top: 20px;
  margin-left: 20px;
  color: #186672;
}
form input
{
    width: 90%;
    justify-content: center;
    align-items: center;
    height:30px;
} 
.mainbody button
{
    width: 40%;
    background-color: var(--primarycolor);
    color: white;
    height: 30px;
    font-size: 20px;
    margin-top: 10px;
}

/* collectionbox */
.collectionbox
{
    width: 90%;
    height: auto;
    box-shadow: 0px 5px 10px black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height:80vh;
}
.imagemain
{
    display: flex;
    width: 90%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.collectionbox h3
{
    text-align: end;
}
.imgsection
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}