{% include('header.html',login)%}
   <main>
      <div class="collectionbox">
        <h3>Shop by <span style="color:var(--primarycolor)">Brands</span></h3>
        <div class="imagemain">
        <div class="imgsection" id="col1">
            <img src="static/images/coll1.jpg"/>
            <h4>A Field Of Memories</h4>
            <h4>$70</h4>
            <button onclick="cartFunction('col1')">Add Cart</button>
        </div>
        <div class="imgsection" id="col2">
            <img src="static/images/coll11.jpg"/>
            <h4>Baby Bloom</h4>
            <h4>$70</h4>
            <button onclick="cartFunction('col2')">Add Cart</button>
        </div>
        <div class="imgsection" id="col3">
            <img src="static/images/coll2.jpg"/>
            <h4>Be Merry</h4>
            <h4>$70</h4>
            <button onclick="cartFunction('col3')">Add Cart</button>
        </div>
        <div class="imgsection" id="col4">
            <img src="static/images/coll12.jpg"/>
            <h4>Beach Travel</h4>
            <h4>$70</h4>
            <button onclick="cartFunction('col4')">Add Cart</button>
        </div>
        <div class="imgsection" id="col5">
            <img src="static/images/coll4.jpg"/>
            <h4>Birds and Bobbins</h4>
            <h4>$70</h4>
            <button onclick="cartFunction('col5')">Add Cart</button>
        </div>
        <div class="imgsection" id="col6">
            <img src="static/images/coll5.jpg"/>
            <h4>Blue Skies and Nutmeg</h4>
            <h4>$70</h4>
            <button onclick="cartFunction('col6')">Add Cart</button>
        </div>
        <div class="imgsection" id="col7">
            <img src="static/images/coll6.jpg"/>
            <h4>Bohemian Summer</h4>
            <h4>$70</h4>
            <button onclick="cartFunction('col7')">Add Cart</button>
        </div>
        <div class="imgsection">
            <img src="static/images/coll7.jpg" id="col8"/>
            <h4>British Waterways</h4>
            <h4>$70</h4>
            <button onclick="cartFunction('col8')">Add Cart</button>
        </div>
        <div class="imgsection">
            <img src="static/images/coll8.jpg" id="col9"/>
            <h4>Image Name</h4>
            <h4>$70</h4>
            <button onclick="cartFunction('col9')">Add Cart</button>
        </div>
        <div class="imgsection">
            <img src="static/images/coll9.jpg" id="col10"/>
            <h4>Butterfly Dreams</h4>
            <h4>$70</h4>
            <button onclick="cartFunction('col10')">Add Cart</button>
        </div>
        <div class="imgsection">
            <img src="static/images/coll11.jpg" id="col11"/>
            <h4>Cutest Little Elephant Blue</h4>
            <h4>$70</h4>
            <button onclick="cartFunction('col11')">Add Cart</button>
        </div>
        <div class="imgsection">
            <img src="static/images/coll13.jpg" id="col12"/>
            <h4>Cutest Little Elephant Pink</h4>
            <h4>$70</h4>
            <button onclick="cartFunction('col12')">Add Cart</button>
        </div>
    </div>
      </div>
   </main>
   <hr/>
   {% include('footer.html')%}
