{% include('header.html',login)%}
   <main>
      <div class="collectionbox">
        <h3>Shop by <span style="color:var(--primarycolor)">Brands</span></h3>
        <div class="imagemain">
        <div class="imgsection">
            <img src="static/images/coll1.jpg"/>
            <h4>A Field Of Memories</h4>
        </div>
        <div class="imgsection">
            <img src="static/images/coll11.jpg"/>
            <h4>Baby Bloom</h4>
        </div>
        <div class="imgsection">
            <img src="static/images/coll2.jpg"/>
            <h4>Be Merry</h4>
        </div>
        <div class="imgsection">
            <img src="static/images/coll12.jpg"/>
            <h4>Beach Travel</h4>
        </div>
        <div class="imgsection">
            <img src="static/images/coll4.jpg"/>
            <h4>Birds and Bobbins</h4>
        </div>
        <div class="imgsection">
            <img src="static/images/coll5.jpg"/>
            <h4>Blue Skies and Nutmeg</h4>
        </div>
        <div class="imgsection">
            <img src="static/images/coll6.jpg"/>
            <h4>Bohemian Summer</h4>
        </div>
        <div class="imgsection">
            <img src="static/images/coll7.jpg"/>
            <h4>British Waterways</h4>
        </div>
        <div class="imgsection">
            <img src="static/images/coll8.jpg"/>
            <h4>Image Name</h4>
        </div>
        <div class="imgsection">
            <img src="static/images/coll9.jpg"/>
            <h4>Butterfly Dreams</h4>
        </div>
        <div class="imgsection">
            <img src="static/images/coll11.jpg"/>
            <h4>Cutest Little Elephant Blue</h4>
        </div>
        <div class="imgsection">
            <img src="static/images/coll13.jpg"/>
            <h4>Cutest Little Elephant Pink</h4>
        </div>
    </div>
      </div>
   </main>
   <hr/>
   {% include('footer.html')%}
