{% include('header.html',login)%}
   <main>
      <div class="collectionbox">
        <h3 style="text-align: center;width: 100%;" >Shopping <span style="color:var(--primarycolor)" >Cart is Empty</span></h3>
        <div class="imagemain" style="display: none;">
        <div class="imgsection" >
            <img src="static/images/coll1.jpg" id="col1"/>
            <h4>A Field Of Memories</h4>
            <button>Add Cart</button>
        </div>
    </div>
      </div>
   </main>
   <hr/>
   {% include('footer.html')%}
