{% include('header.html',login)%}
   <main>
      <div class="collectionbox">
        <h3 style="text-align: center;width: 100%;" >Shopping <span style="color:var(--primarycolor)" >Cart is Empty</span></h3>
        <div class="cartsection">
          <div class="listsection" >
            <h4>Item</h4>
            <h4>Item Name</h4>
            <h4>Price</h4>
            <h4>Quantity</h4>
        </div>
        <div class="imgsection" >
            <img src="static/images/coll1.jpg" width="100" height="100"/>
            <h4>A Field Of Memories</h4>
            <h4>Price</h4>
            <h4>1</h4>
        </div>
    </div>
      </div>
   </main>
   <hr/>
   {% include('footer.html')%}
