<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/index.css"></link>

</head>
<body>
   {% include('header.html')%}
   <main>
      <div class="collectionbox">
        <h3>Shop by <span style="color:var(--primarycolor)">Collection</span></h3>
        <div class="imagemain">
        <div class="imgsection">
            <img src="static/images/coll1.jpg"/>
            <h4>Image Name</h4>
        </div>
        <div class="imgsection">
            <img src="static/images/coll11.jpg"/>
            <h4>Image Name</h4>
        </div>
        <div class="imgsection">
            <img src="static/images/coll2.jpg"/>
            <h4>Image Name</h4>
        </div>
        <div class="imgsection">
            <img src="static/images/coll12.jpg"/>
            <h4>Image Name</h4>
        </div>
        <div class="imgsection">
            <img src="static/images/coll4.jpg"/>
            <h4>Image Name</h4>
        </div>
        <div class="imgsection">
            <img src="static/images/coll5.jpg"/>
            <h4>Image Name</h4>
        </div>
        <div class="imgsection">
            <img src="static/images/coll6.jpg"/>
            <h4>Image Name</h4>
        </div>
        <div class="imgsection">
            <img src="static/images/coll7.jpg"/>
            <h4>Image Name</h4>
        </div>
        <div class="imgsection">
            <img src="static/images/coll8.jpg"/>
            <h4>Image Name</h4>
        </div>
    </div>
      </div>
   </main>
   <hr/>
   {% include('footer.html')%}
   <script src="static/js/index.js"></script>
</body>
</html>