<header>
    <div class="topbar">
       <div class="topbarsectionnav">
          <div class="navbox"><h3><a href="/">MEN</a></h3></div>
          <div class="navbox"> <h3><a href="/women">WOMEN</a></h3></div>
       </div>
       <div class="topbarsectioninfo">
         <h4>TRACK ORDER</h4>
         <h4>CONTACT US</h4>
         <button class="themechange">THEME</button>
       </div>
    </div>
    <nav>
        <div class="navsection1">
        <h1><span style="color:  var(--primarycolor);">THEMES</span></h1>
        <h1 onclick="window.location.href='/collections'">COLLECTIONS</h1>
        <h1><span style="color:  var(--primarycolor);">BRANDS</span></h1>
        <h1>CATEGORIES</h1>
        <h1><span style="color: var(--primarycolor);">COLOURS</span></h1>
    </div>
    <div class="navsection2">
        <input type="text" placeholder="search for clothes">
        <img src="../static/images/searchicon.png" width="25" height="25"/>
        <a href="/login"><img src="../static/images/usericon.png" width="25" height="25"/></a>
        <img src="../static/images/carticon.png" width="25" height="25"/>
    </div>
    </nav>
 </header>