<header>
    <div class="topbar">
       <div class="topbarsectionnav">
          <div class="navbox"><h3>MEN</h3></div>
          <div class="navbox"> <h3>WOMEN</h3></div>
       </div>
       <div class="topbarsectioninfo">
         <h4>TRACK ORDER</h4>
         <h4>CONTACT US</h4>
       </div>
    </div>
    <nav>
        <div class="navsection1">
        <h1>TOP WEAR</h1>
        <h1>BOTTOM WEAR</h1>
        <h1>BEST SELLERS</h1>
        <h1>SNEAKERS</h1>
        <h1>ACCESSORIES</h1>
    </div>
    <div class="navsection2">
        <input type="text" placeholder="search for clothes">
        <img src="../static/images/searchicon.png" width="25" height="25"/>
        <img src="../static/images/searchicon.png" width="25" height="25"/>
        <img src="../static/images/searchicon.png" width="25" height="25"/>
    </div>
    </nav>
 </header>