<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/index.css"></link>
</head>
<body>
    {% include ('header.html')%}
    <main>
       <div class="mainbody">
           <h1>User Login</h1>
           <form action="/" method="Post">
             <div class="emaillabel">
              <input type="text" name="email"/>
              <h6>Required</h6>
            </div>
            <div class="passwordlabel">
              <input type="text" name="password"/>
              <h6>Required</h6>
            </div>
              <button></button>
           </form>
       </div>
    </main>
    {% include ('footer.html')%}
</body>
</html>