 {% include ('header.html')%}
    <main>
       <div class="mainbody">
           <h1>User Login</h1>
           <form action="/" method="Post">
             <div class="labels">
              <h6>Email</h6>
              <h6>Required</h6>
            </div>
            <input type="text" name="email"/>
            <div class="labels">
              <h6>Password</h6>
              <h6>Required</h6>
            </div>
            <input type="password" name="password"/>
            <button type="submit">LOGIN</button>
           </form>
           {% if message %}
           <label>{{ message }}</label>
           {% endif %}
           <button onclick="window.location.href='/register'">REGISTER</button>
       </div>
    </main>
    {% include ('footer.html')%}
    <script src="static/js/index.js"></script>
</body>
</html>