<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/index.css"></link>
</head>
<body>
   {% include('header.html')%}
   <main>
      <div class="background">
          <img src="static/images/banner.jpg"/>
      </div>
      <div class="lovecollection">
         <h2>LOVED <span style="color: red;">COLLECTION</span></h2>
         <div class="collectionlove">
            <img src="static/images/fabric1.jpg"/>
            <img src="static/images/fabric2.jpg"/>
            <img src="static/images/fabric3.jpg"/>
         </div>
      </div>
      <div class="lovecollection">
         <h2><span style="color: red;">NEW</span> ARRIVAL</h2>
         <div class="collectionlovesmall">
            <img src="static/images/fabric4.jpg"/>
            <img src="static/images/fabric5.jpg"/>
            <img src="static/images/fabric6.jpg"/>
            <img src="static/images/fabric8.jpg"/>
            <img src="static/images/fabric9.jpg"/>
         </div>
      </div>
      <div class="lovecollection">
         <h2>OLD <span style="color: red;"> COLLECTION</span></h2>
         <div class="collectionlovesmall">
            <img src="static/images/fabric10.jpg"/>
            <img src="static/images/fabric11.jpg"/>
            <img src="static/images/fabric12.jpg"/>
            <img src="static/images/fabric13.jpg"/>
            <img src="static/images/fabric14.jpg"/>
         </div>
      </div>
   </main>
    <footer>

    </footer>
</body>
</html>