<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/index.css"></link>
</head>
<body>
   {% include('header.html')%}
   <main>
      <div class="background">
          <img src="static/images/banner.jpg"/>
      </div>
      <div class="lovecollection">
         <h2>LOVED <span style="color: red;">COLLECTION</span></h2>
         <div class="collectionlove">
            <img src="static/images/fabric1.jpg"/>
            <img src="static/images/fabric2.jpg"/>
            <img src="static/images/fabric3.jpg"/>
         </div>
      </div>
      <div class="lovecollection">
         <h2><span style="color: red;">NEW</span> ARRIVAL</h2>
         <div class="collectionlovesmall">
            <img src="static/images/fabric4.jpg"/>
            <img src="static/images/fabric5.jpg"/>
            <img src="static/images/fabric6.jpg"/>
            <img src="static/images/fabric8.jpg"/>
            <img src="static/images/fabric9.jpg"/>
         </div>
      </div>
      <div class="lovecollection">
         <h2>OLD <span style="color: red;"> COLLECTION</span></h2>
         <div class="collectionlovesmall">
            <img src="static/images/fabric10.jpg"/>
            <img src="static/images/fabric11.jpg"/>
            <img src="static/images/fabric12.jpg"/>
            <img src="static/images/fabric13.jpg"/>
            <img src="static/images/fabric14.jpg"/>
         </div>
      </div>
      <div class="summerfabrics">
         <div class="summersection1">
            <div class="fabric">
               <img src="static/images/summerfabric1.jpg"/>
               <h3>Cotton Popplin</h3>
            </div>
            <div class="fabric">
               <img src="static/images/summerfabric2.jpg"/>
               <h3>Linen</h3>
            </div>
            <div class="fabric">
               <img src="static/images/summerfabric3.jpg"/>
               <h3>Viscose</h3>
            </div>
         </div>
         <hr/>
         <div class="summersection2">
            <div class="circle"></div>
            <div class="textsummer">
            <h2><span style="color: red;">Summer</span> Fabrics</h2>
            <h3>We have a gorgeous selection of summer fabrics to choose from. Linen is the perfect summer fabric, 
               it's known to keep you cool in hot weather. Viscose fabric is lightweight with lots of drape so it's 
               ideal for loose fitting tops and blouses as well as floaty summer dresses.
                Cotton poplin is also a firm favourite for summer garments, its great for dresses, shorts and shirts</h3>
         </div>
      </div>
      </div>
   </main>
    <footer>

    </footer>
</body>
</html>