    {% include ('header.html',login)%}
    <main>
        <div class="mainbody">
            <h1 style="margin-top: -0px;">User Register</h1>
            <form action="/register" method="post" style="margin-top: -10px;">
                <div class="labels">
                    <h6>Name</h6>
                    <h6>Required</h6>
                  </div>
                  <input type="text" name="name"/>
              <div class="labels">
               <h6>Email</h6>
               <h6>Required</h6>
             </div>
             <input type="email" name="email"/>       
                   <div class="labels">
               <h6>Password</h6>
               <h6>Required</h6>
             </div>
             <input type="password" name="password"/>
             <div class="labels">
                <h6>Confirm Password</h6>
                <h6>Required</h6>
              </div>
              <input type="text" name="confirmpassword"/>
              <button type="submit">REGISTER</button>
            </form>
       
            <button onclick="window.location.href='/login'">LOGIN</button>
            {% if message %}
            <label>{{ message }}</label>
           {% endif %}
        </div>
    </main>
    {% include ('footer.html')%}