<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/index.css"></link>
</head>
<body>
    {% include ('header.html')%}
    <main>
        <div class="mainbody">
            <h1 style="margin-top: -0px;">User Register</h1>
            <form action="/" method="Post" style="margin-top: -10px;">
                <div class="labels">
                    <h6>Name</h6>
                    <h6>Required</h6>
                  </div>
                  <input type="text" name="name"/>
              <div class="labels">
               <h6>Email</h6>
               <h6>Required</h6>
             </div>
             <input type="text" name="email"/>
             <div class="labels">
               <h6>Password</h6>
               <h6>Required</h6>
             </div>
             <input type="text" name="password"/>
             <div class="labels">
                <h6>Confirm Password</h6>
                <h6>Required</h6>
              </div>
              <input type="text" name="confirmpassword"/>
            </form>
            <button type="submit">REGISTER</button>
            <button onclick="window.location.href='/login'">LOGIN</button>
        </div>
    </main>
    {% include ('footer.html')%}
    <script src="static/js/index.js"></script>
</body>
</html>