<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/index.css"></link>
</head>
<body>
   {% include('header.html')%}
   <main>
      <div class="background">
          <img src="static/images/banner.webp"/>
      </div>
      <div class="lovecollection">
         <h2>LOVED COLLECTION</h2>
         <div class="collectionlove">
            <img src="static/images/lovingcollection.webp"/>
            <img src="static/images/collection2.webp"/>
            <img src="static/images/collection3.webp"/>
         </div>
      </div>
      <div class="lovecollection">
         <h2>NEW ARRIVAL</h2>
         <div class="collectionlove">
            <img src="static/images/mancollection2.webp"/>
            <img src="static/images/mancollection3.webp"/>
            <img src="static/images/mancollection4.webp"/>
         </div>
      </div>
      <div class="lovecollection">
         <h2>OLD COLLECTION</h2>
         <div class="collectionlove">
            <img src="static/images/mancollection2.webp"/>
            <img src="static/images/mancollection3.webp"/>
            <img src="static/images/mancollection4.webp"/>
         </div>
      </div>
   </main>
    <footer>

    </footer>
</body>
</html>